.bg{
    &-primary{
        background-color: #1E1E1E;
    }
}
.main-container{
    padding-left: 2%;
    padding-right: 2%;
}

.error_massage{
    background-color: red;
    color: white;
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
}