
// login pengguna
.form-login{
    background-color: black;
    max-width: 430px;
    padding: 40px;
    text-align: center;
    border-radius: 5px;

    h3{
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
        padding-bottom: 30px;
    }

    & .input{

        & input{
            width: 100%;
            border-radius: 5px;
            background-color: transparent;
            color: white;
    
        }
        .input-submit{
            padding-top: 20px;
            text-align: center;

            input{
                border-radius: 30px;
                max-width: 280px;
                background-color: #D9D9D9;
                font-size: 0.8rem;
                padding: 5px;
                color: black;
                font-weight: bold;
                transition: 0.5s;

                &:hover{
                    background-color: #0019FF;
                    color:white ;
                }
            }
        }
    }
    
}

.form-nilam{
    background-color: black !important;
    max-width: 430px;
    text-align: center;
    border-radius: 15px;
    padding: 15px;

    & .input {
        color: white;

        tr{
            & td:first-child{
                // color: red !important;
                width: 34%;
                font-size: 0.9rem;
            }
        }
        
        select{
            color: black;
            width: 100% !important;
            border-radius: 5px;
        }
        .input-rumusan {
            padding-top: 10px;
            .text{
                text-align: left;
                // background-color: red;
                padding-left: 4%;
            }
        }
        .input-item{
            padding: 4px;

            input{
                color: black !important;
                width: 100%;
                height: 35px;
                border-radius: 5px;
                padding: 5px;
            }
            textarea{
                border-radius: 5px;
                width: 100%;
            }
        }
    }
}